{% extends 'tasks/base.html.twig' %}

{% block title %}Edit Tasks{% endblock %}

{% block body %}
    <h1>Edit Tasks</h1>

    {{ include('tasks/_form.html.twig', {'button_label': 'Update'}) }}

    <section>
        {% for form in formActions %}
            <div class="md-3">
                {{ form_start(form) }}
                    {{ form_row(form.status) }}
                    {{ form_row(form.description) }}
                {{ form_end(form) }}
            </div>
        {% endfor %}
    </section>

    <a href="{{ path('app_tasks_index') }}">back to list</a>

    {{ include('tasks/_delete_form.html.twig') }}
{% endblock %}
